<div class="left-panel">
    <div class="user-panel" (click)="chatService.appComponent.currentDisplayedLeftPanel=constants?.DEFAULT_PANEL">
        <img src="assets/back-arrow_light.svg" class="return-icon"> 
        <div class="text-container">Neuer Chat</div>
    </div>
    <div class="contacts-container">
        <div class="search-contact-container">
            <!-- <input type="file"  multiple="multiple" (change)="change($event)"> -->
            <input [(ngModel)]="query" class="search-contact-inputfield" type="text" placeholder="search contacts">
        </div>

        <div class="row-item"  (click)="chatService.appComponent.currentDisplayedLeftPanel=constants?.GROUP_CHAT;">
            <div>
                <img style="border-radius: 20px; width:40px;"
                    src="assets/group.svg">
            </div>
            <div style="font-size:25px; width:80%;">
                Neue Gruppe
            </div>
        </div>

        <div class="contacts-container">
            <div *ngFor="let contact of contacts" class="contacts-row">
                <div (click)="setDisplayedChatRoomByContact(contact)" style="width:100%; display: flex; flex-direction: row;">
                    <div>
                        <img style="border-radius: 20px; width:40px;"
                            src="{{contact.iconUrl ? contact.iconUrl : 'assets/default-user-icon.svg'}}">
                    </div>
                    <div class="contact-text-container">
                        {{contact?.name}}
                    </div>
                </div>
                <div>
                    <img style="border-radius: 10px; width:20px;" src='assets/remove-button.svg' (click)="removeContact(contact)">
                </div>
            </div>
        </div>
    </div>
</div>