<div class="wrapper">
    <div class="chat-panel-header">
        <div class="chat-panel-left-container">
            <div class="chat-name-container">
                <div *ngIf="displayedChatRoom" (click)="initDisplayProfile()"><img
                        class="chat-img" src="{{displayedChatRoom | img}}"></div>
                <div class="chat-name-member">
                    <div class="chat-name"> {{displayedChatRoom | chatRoomName}}</div>
                    <div class="chat-member-container">
                        <span *ngFor="let id of displayedChatRoom?.userIds; let i = index" class="chat-member">
                            {{ id | contactName}}
                            {{ (displayedChatRoom && i != displayedChatRoom.userIds.length-1) ? ',' : '' }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-panel-right-container" >
            <div class="menu-item-container"> <img class="magnifier-img" src="assets/magnifier-glass.svg">
            </div>
            <div id="rightpanel-burger-menu" class="menu-item-container" tabindex="-1">
                <img (click)="toggleRoomMenuDisplay()" class="menu-img" src="assets/burger.svg">
                <div id="room-menu" *ngIf="displayRoomMenu" class="room-menu">
                    <div (click)="initDisplayProfile()" class="room-row sub-room-menu">
                        Gruppeninfo
                    </div>
                    <div class="room-row sub-room-menu">
                        Nachrichten auswählen!
                    </div>
                    <div class="room-row sub-room-menu">
                        Nachrichten leeren
                    </div>
                    <div class="room-row sub-room-menu">
                        Gruppe verlassen
                    </div>
                </div>
            </div>
        </div>

    </div>
    <app-displaychat></app-displaychat>
    <div class="senden-container">
        <img src="assets/happiness.svg" [hidden]="!displayedChatRoom">
        <input (keyup.enter)="triggerSendChatMessage()" [(ngModel)]="chatInputText" [hidden]="!displayedChatRoom"
            placeholder="Write a message">
        <img src="assets/paper-plane.svg" [hidden]="!displayedChatRoom" (click)="triggerSendChatMessage()">
    </div>

    <app-group-profile *ngIf="constants.GROUP_CHAT_PROFILE === currentDisplayedRightPanel"
        class="anim overlay-comp-container">
    </app-group-profile>

    <app-profile *ngIf="constants.USER_PROFILE === currentDisplayedRightPanel" class="anim overlay-comp-container">
    </app-profile>
</div>