<div class="left-panel">
    <div class="user-panel"
        (click)="chatService.appComponent.currentDisplayedLeftPanel=constants?.DISPLAY_CONTACTS_PANEL">
        <img src="assets/back-arrow_light.svg" class="return-icon">
        <div class="add-user-2-group" >add user to group</div>
    </div>
    <div class="added-user">
        <div class="row-item">
            <div class="preview" *ngFor="let selected_contact of creatingRoomContacts">
                <div class="profilimage"><img style="height:25px; border-radius: 25px;"
                        src="{{selected_contact.iconUrl}}"></div> <span>{{selected_contact.name}} </span>
                <div (click)="removeFromCreatingRoomContacts(selected_contact)" class="remove"></div>
            </div>
        </div>
        <div class="search-contact-container">
            <!-- <input type="file"  multiple="multiple" (change)="change($event)"> -->
            <input [(ngModel)]="query" class="search-contact-inputfield" type="text" placeholder="type contact name">
        </div>
        <div class="contacts-container">
            <div *ngFor="let contact of contacts" class="contacts-row" (click)="addToCreatingRoom(contact)">
                <div>
                    <img style="border-radius: 20px; width:40px;"
                        src="{{contact.iconUrl ? contact.iconUrl : 'assets/default-user-icon.svg'}}">
                </div>
                <div class="contact-text-container">
                    {{contact?.name}}
                </div>
            </div>
        </div>
        <div *ngIf="isValid()" class="next-step-item" (click)="ToRoomProfileCreation();">
            <img style="height: 50px;" src="assets/next.svg">
        </div>
    </div>
</div>