<div class="left-panel">
    <div class="user-panel">
        <div (click)="initDisplayProfile()" class="user-app-logo">
            <img *ngIf="localUser" class="user-app-logo-img"
                src="{{localUser.iconUrl ? localUser.iconUrl : 'assets/default-user-icon.svg'}}">
        </div>
        <label class="user-name">
            {{localUser?.name}}
        </label>
        <div class="new-user-logo">
            <img class="user-list-img" src="assets/comment.svg"
                (click)="currentDisplayedLeftPanel=constants?.DISPLAY_CONTACTS_PANEL">
        </div>
        <div class="new-user-logo">
            <img class="new-user-logo-img" src="assets/new-user.svg"
                (click)="currentDisplayedLeftPanel=constants?.ADD_USER_PANEL">
        </div>
        <div class="user-app-burger" tabindex="-1">
            <img class="user-app-burger-img" src="assets/threepoints.svg" (click)="displayUserMenu=!displayUserMenu">
            <div id="leftpanel-burger-menu" *ngIf="displayUserMenu" class="user-menu">
                <div class="menu-row super-user-menu">
                    Neue Gruppe
                </div>
                <div (click) ="initDisplayProfile();displayUserMenu=false"  class="menu-row super-user-menu">
                    Profil
                </div>
                <div class="menu-row super-user-menu">
                    Einstellung
                </div>
                <div class="menu-row super-user-menu">
                    Abmelden
                </div>
            </div>
        </div>
    </div>

    <!---
    <button onclick="document.getElementById('file-input').click();">Open</button>
    <input [(ngModel)]="uploadImage" (change)="encodeImageFileAsURL()" id="file-input" type="file" name="name"
        style="display: none;" /> -->

    <div class="search-contact-container" [ngClass]="isFocused ? 'is-focused' : ''">


        <input (focus)="isClicked()" (focusout)="focusOut()" [(ngModel)]="searchChatInputText"
            class="search-contact-inputfield" type="text" placeholder="search chats">
        <div class="icons">
            <span class="magni"></span>
            <span (click)="focusOut()" class="blue-arrow"></span>
        </div>
    </div>
    <div class="rooms-container">
        <div *ngFor="let chatRoom of availableRooms"
            class="rooms-row {{this.displayedChatRoom == chatRoom ? 'rooms-row-selected' : ''}}"
            (click)="toggleDisplayedRoom(chatRoom)">
            <!-- {{values.resolveLatestChatMessageBody(chatRoom.value)}} -->
            <div style="position: relative;">
                <img class="profil-image" src="{{chatRoom | img}}">
                <div [hidden]="!chatRoom.unseenChatMessageIds || chatRoom.unseenChatMessageIds == 0"
                    style="border-radius:50%; background-color: red; color:white; font-weight: bolder; left:2px; bottom:2px; padding:2px 5px; position:absolute;">
                    {{chatRoom.unseenChatMessageIds?.length}}
                </div>
            </div>
            <div style="display:flex; flex-direction: column; width:90%;">
                <div class="room-wrapper">
                    <div class="room-title-container">
                        {{chatRoom | chatRoomName}}
                    </div>
                    <span>
                        {{chatRoom | latestChatMessageDate}}
                    </span>
                </div>
                <div class="room-last-message-container">
                    {{chatRoom | lastestChatMessageBody}}
                </div>
            </div>
        </div>
    </div>


    <!-- OTHER OVERLAYING COMPONENTS -->
    <app-adduser *ngIf="constants.ADD_USER_PANEL === currentDisplayedLeftPanel"
        class="anim overlay-comp-container">
    </app-adduser>

    <app-contacts *ngIf="constants.DISPLAY_CONTACTS_PANEL === currentDisplayedLeftPanel"
        class="anim overlay-comp-container">
    </app-contacts>

    <app-addgroupchat *ngIf="constants.GROUP_CHAT === currentDisplayedLeftPanel"
        class="anim overlay-comp-container">
    </app-addgroupchat>

    <app-group-profile *ngIf="constants.GROUP_CHAT_PROFILE === currentDisplayedLeftPanel"
        class="anim overlay-comp-container">
    </app-group-profile>

    <app-profile *ngIf="constants.USER_PROFILE === currentDisplayedLeftPanel"
        class="anim overlay-comp-container"></app-profile>

</div>