<div class="left-panel">
    <div class="user-panel" (click)="chatService.appComponent.currentDisplayedLeftPanel=constants?.DEFAULT_PANEL">
        <img src="assets/back-arrow_light.svg" class="return-icon"> 
        <div class="text-container">add new contact</div>
    </div>
    <div class="search-contact-container">
        <!-- <input type="file"  multiple="multiple" (change)="change($event)"> -->
        <input [(ngModel)]="searchNewContactInputText" class="search-contact-inputfield" type="text"
            placeholder="add new contact" (keyup.enter)="triggerNewContactSearch()">
    </div>
    <div class="rooms-container">
        <div *ngFor="let contact of newContactsList" class="new-contact-row">
            <div>
                <img src="assets/testicon.png" class="new-contact-icon">
            </div>
            <div class="new-contact-text-container">
                {{contact?.name}}
            </div>
            <div class="create-room-icon-container" (click)="createRoom(contact)">
                <img src="assets/plus.svg" class="create-room-icon">
            </div>
        </div>
    </div>
</div>