.left-panel {
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: #FEFEFE;
    border-right: #DFDDDE solid 2px;
}

.user-panel {
    width: 100%;
    display: flex;
    min-height: 75px;
    height: 75px;
    flex-direction: row;
    align-items: center;
    background-color: var(--highlight-color);
}

.user-app-logo {
    height: 100%;
    width: 25%;
}

.user-app-logo-img {
    height: 70%;
    margin: 10px 0px 10px 20px;
    border-radius: 25px;
    border:none;
}

.user-app-logo-img:hover {
    height: 70%;
    margin: 10px 0px 10px 20px;
    border-radius: 25px;
    border: white solid 2px;
}

.user-app-logo-img:active {
    height: 70%;
    margin: 10px 0px 10px 20px;
    border-radius: 25px;
    border: white solid 4px;
}

.user-app-burger {
    width: 50%;
}

.user-app-burger-img {
    float: right;
    height:50%;
    margin: 15px 25px 15px 0px;
    filter: invert(50%) sepia(6%) saturate(84%) hue-rotate(97deg) brightness(95%) contrast(86%);
    opacity: 0.5;
}

.user-app-burger-img:hover {
    opacity: 1;
}

.user-app-burger-img:active {
    height: 45%;
    margin: 16px 26px 15px 0px;
} 

.text-container {
    font-size:30px; 
    color:white;
}

.search-contact-container{
    width:100%;
    height: 85px;
    background-color: #F8F8F8;
}

.search-contact-inputfield{
    border: none;
    border-radius: 7px;
    width: 85%;
    height: 70%;
    margin-top: 8px;
    margin-left: 7%;
    padding-left: 25px;
}

.rooms-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.new-contact-row{
    display: flex;
    align-items: center;
    width: 100%;
    height:85px;
    padding: 0px 5px;
}

.new-contact-icon{
    border-radius: 50%;
    height: 55px;
    padding: 3px;
}

.new-contact-text-container{
    display: flex;
    align-items: center;
    width: 80%;
    height: 55px;
    margin-left: 5px;
    border-bottom: 1px solid #F1F1F1;
}

.create-room-icon-container{
    display: none;
}

.create-room-icon-container:hover .create-room-icon{
    height: 33px;
    width: 33px;
}

.new-contact-row:hover{
    background-color: #F1F1F1;
}

.new-contact-row:hover .create-room-icon-container{
    display: flex;
}

.create-room-icon{
    height: 30px;
    width: 30px;
}